body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    text-align: center;
    margin: 60px 0;
}

h1 {
    font-size: 38px;
    font-weight: 800;
}

input, button {
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}
button {
    cursor: pointer;
}
button:hover {
    background-color: #313131;
    color: #fff;
}
input#input-field {
    width: 46%;
}

.weather {
    font-weight: 800;
    color: #fff;
    max-width: 300px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
}

.weather img {
    max-width: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.weather h3 {
    margin: 0;
    font-size: 32px;
}

.weather p {
    margin: 0;
    font-size: 21px;
}

.weather small {
    font-size: 14px;
}

/* preloader */
#loaded {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.pre-load {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.pre-load>div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.pre-load div:nth-child(1) {
    left: 8px;
    animation: animate 0.6s infinite;
}

.pre-load div:nth-child(2) {
    left: 8px;
    animation: animate3 0.6s infinite;
}

.pre-load div:nth-child(3) {
    left: 32px;
    animation: animate3 0.6s infinite;
}

.pre-load div:nth-child(4) {
    left: 56px;
    animation: animate2 0.6s infinite;
}

@keyframes animate {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes animate2 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes animate3 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}